@import '../../../../global/style/_colors.scss';
.follow{
    display: flex;
    border: 1px solid $border-color;
    padding:10px;
    img{
        width:30px;
        height:30px;
        border-radius: 50%;
    }
    .name{
        line-height: 30px;
        padding: 0 10px;
    }

    @media only screen and (max-width: 600px) {
            border: solid #efefef;
            border-width: 1px 0;
    }

    .followButton, .buttonProfile{
        display: block;
        margin-left: auto;
        padding: 5px 15px;
        border: $primary-color-1 solid 2px;
        background: none;
        color: $primary-color-1;
        font-size: 14px;
    }
    
    .following, .buttonProfile{
        background: $primary-color-1;
        color: $text-color;
        border: black solid 1px;
    }


    .followButton:focus{
        outline: none;
    }
}
