<div class="sign-up-card">
    <img src="/assets/images/logo.png">
    <h1>SIGN UP</h1>
    <form method="post" role="form">
      <div class="input-with-icon">
        <input type="email" name="email" id="email" placeholder="Email Address">
        <fa name="envelope"></fa>
      </div>
      <div class="input-with-icon">
          <input type="text" name="username" id="username" placeholder="Username">
          <fa name="user"></fa>
        </div>
      <div class="input-with-icon">
        <input type="password" name="password" id="password" tabindex="2" placeholder="Password">
        <fa name="key"></fa>
      </div>
      <div class="input-with-icon">
          <input type="password" name="confirm-password" id="confirm-password" tabindex="2" placeholder="Confirm Password">
          <fa name="key"></fa>
        </div>
      <div>
        <input type="submit" value="Sign Up">
      </div>
    </form>
    <div>
      <p>Already a member? Sign in here!</p>
    </div>
  </div>