<div class="sign-in-card">
  <img src="/assets/images/logo.png">
  <h1>SIGN IN</h1>
  <form method="post" role="form" #signInForm="ngForm" (ngSubmit) = "logIn()">
    <div class = "error-message" *ngIf = "signInForm.submitted">
      {{errorMessage}}
    </div>
    <div class="input-with-icon">
      <input type="text" name="username" id="username" placeholder="Username" [(ngModel)]="user.username">
      <fa name="user"></fa>
    </div>
    <div class="input-with-icon">
      <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="user.password">
      <fa name="key"></fa>
    </div>
    <div>
      <input type="submit" value="Log In">
    </div>
  </form>
  <div>
    <label class="remember-me">
      <input type="checkbox" />
      <span>Remember Me</span>
    </label>
    <p>Forgot Password?</p>
  </div>
  <div>
    <p>Not yet a member? <span (click) = "stateService.go('/register')">Sign up here!</span></p>
  </div>
</div>