@import '../../../global/style/_colors.scss';
.nav-bar{
    background: -webkit-linear-gradient(left, $primary-color-1, $primary-color-2);  
    width: 100%;  
    height: 70px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.15);

    &.increasedDivHeight{
        height: 200px;
    }

    .nav-bar-container{
        max-width: 1012px;
        height: 70px;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin: 0 40px;
    }

    .logo{
        flex-grow: 1;
        height: 30px;
        max-width: 33px;
    }

    .search-bar{
        flex-grow: 3;
        padding: 0px 20px;
        
        .input-with-icon{
            width: 80%;
            min-width: 125px;
        }

        input{
            margin: 0px;
            height: 1em;
            width: 100%;
            border:none;
        }

        i{
            padding: 0px 8px;
        }
    }

    .search-container{
        width: 100%;
        background: $container-color;
        position: absolute;
        margin-top: 3px;
    }

    .nav-menu{
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        i{
            color: $icon-color;
            font-size: 25px;
            padding: 0px 10px; 
        }
    }
}

@media only screen and (max-width: 380px) {
    .nav-bar .nav-menu i{
        padding: 0 5px;
        font-size: 20px;
    }
}