<div class="nav-bar" [ngClass]="{'increasedDivHeight': isProfileState, 'fixedMenu': isFeedState}">
  <div class="nav-bar-container">
    <img class="logo" src="/assets/images/logo.png" (click)="viewFeed()">
    <form class="search-bar">
      <div class="input-with-icon" #searchBar>
        <input type="text" placeholder="Search" name="search" autocomplete="off" [(ngModel)]="searchService.searchInput" (ngModelChange)="searchService.getList()">
        <i class="fa fa-search"></i>
        <div class="search-container box-shadow" *ngIf="searchService.searchActive">
          <app-search-container></app-search-container>
        </div>
      </div>
    </form>
    <div class="nav-menu">
      <div class="notification">
        <div *ngIf="notificationService.notificationOpen">
          <i class="fa fa-sort-up"></i>
          <div class="notification-container box-shadow">
            <app-notification-container></app-notification-container>
          </div>
        </div>
      </div>
      <i class="fa fa-bell" (click)=viewNotification()></i>
      <i class="fa fa-user" (click)="viewProfile()"></i>
      <i class="fa fa-power-off" (click)="logOut()"></i>
    </div>
  </div>
</div>