<div class="nav-bar" [ngClass] = "{'increasedDivHeight': isProfileState}">
  <div class="nav-bar-container">
    <img class = "logo" src="/assets/images/logo.png" (click) = "viewFeed()">
    <form class = "search-bar">
      <div class="input-with-icon">
      <input type="text" placeholder="Search" name="search">
      <fa name="search"></fa>
      </div>
    </form>
    <div class = "nav-menu">
      <fa name = "comment"></fa>
      <fa name = "bell"></fa>
      <fa name = "user" (click) = "viewProfile()"></fa>
      <fa name = "power-off" (click)="logOut()"></fa>
    </div>
  </div>
</div>