<div class="feed">
  <div class="feed_container">
    <div class="menu_feed">
      <div class="menu_feed_container">
        stst
      </div>
    </div>
    <div class="main_feed">
      <div class="feed_box box-shadow">
        <textarea placeholder="What's on your mind?" [(ngModel)]="postService.postInput" maxlength="300"></textarea>
        <div class="postEnabled" *ngIf="postService.postInputValid()">
          {{postService.inputCharacters}}
          <button (click)="postService.post(postService.postInput)">Post</button>
        </div>
      </div>
      <div *ngFor="let post of postService.feedPosts" class="main_feed_post">
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>
</div>