<div class="feed">
  <div class="feed_container">
    <div class="menu_feed">
      <div class="menu_feed_container">
        <div class="profile_container">
          <img src="../../../assets/images/profile.jpg">

          <div class="user_info_name">
            <div class="user_info_name_container">
              <h1>{{authInfoService.info.fullName}} </h1>
              <h3>@{{authInfoService.info.username}}</h3>
            </div>
          </div>
          <div class="user_info_stats">
            <div>Posts
              <br>
              <span>
                {{postService.profilePostLength}}
              </span>
            </div>
            <div>Followers
              <br>
              <span>
                {{authInfoService.info.followersLength}}
              </span>
            </div>
            <div>Following
              <br>
              <span>
                {{authInfoService.info.followingLength}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_feed">
      <div class="feed_box box-shadow">
        <textarea placeholder="What's on your mind?" [(ngModel)]="postService.postInput" maxlength="300"></textarea>
        <div class="postEnabled" *ngIf="postService.postInputValid()">
          {{postService.inputCharacters}}
          <button (click)="postService.post(postService.postInput)">Post</button>
        </div>
      </div>
      <div *ngFor="let post of postService.feedPosts" class="main_feed_post">
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>
</div>