@import '../../../global/style/_colors.scss';
@import '../../../global/style/_fonts.scss';
@import '../../../global/style/_mixins.scss';

.feed{
   @include container;
}

.feed_container{
    @include content-container;
    display: flex;
    justify-content: center;
    

    .menu_feed{
        min-width: 200px;
        float: left;
        display: flex;
        justify-content: center;
        padding:10px 5px;
        background: $container-color;

        .menu_feed_container{
            height: 400px;
            width: 100%;
            border: 1px solid $border-color;
        }
    }

    .main_feed{
        float: left;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding:10px 5px;
        background: $container-color;

        .feed_box{
            display: flex;
            flex-direction: column;
            textarea{
                border: 0px;
                padding: 15px;
                text-align: left;
                font-size: 20px;
                display:table-cell;
                resize: none;
            }
            textarea:focus{
                outline: none;
            }

            .postEnabled{
                margin-left: auto;
                color: $primary-color-1;

                button{
                    font-size: 18px;
                    width: 60px;
                    margin: 10px;
                    color: $primary-color-1;
                    background: none;
                    font-weight: 600;
                    padding: 3px; 
                    border-radius: 100px;
                    border: 1px solid $primary-color-1;
                }

                button:hover, button:active{
                    outline: none;
                    background: $primary-color-1;
                    color: $text-color;
                }
                
                button:focus{
                    outline: none;
                }
            }
            
        }

        .main_feed_post{
            margin-top: 10px;
        }
    }   
}

@media only screen and (max-width: 600px) {
    .feed_container .menu_feed{
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .feed_container, .feed_container .main_feed{
        margin: 0;
        padding: 0;
    }
}

