<div class="profile">
  <div class="profile_container">
    <div class="user_info_profile box-shadow">
      <div class="user_info_profile_container">
        <img src="../../../assets/images/profile.jpg">
        <div class="user_info_name">
          <div class="user_info_name_container">
            <h1>{{authInfoService.info.fullName}} </h1>
            <h3>@{{authInfoService.info.username}}</h3>
          </div>
        </div>
        <div class="user_info_stats">
          <div (click) = "activate('Posts')">Posts
            <br>
            <span [ngClass]= "{'active': activeCard == 'Posts'}">
              {{postService.profilePostLength}}
            </span>
          </div>
          <div (click) = "activate('Followers')">Followers
            <br>
            <span [ngClass]= "{'active': activeCard == 'Followers'}">
              {{authInfoService.info.followersLength}}
            </span>
          </div>
          <div (click) = "activate('Following')">Following
            <br>
            <span [ngClass]= "{'active': activeCard == 'Following'}">
              {{authInfoService.info.followingLength}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="user_card_profile box-shadow">
      <h1>{{activeCard}}</h1>
      <app-posts *ngIf="activeCard == 'Posts'"></app-posts>
      <app-following *ngIf="activeCard == 'Following'"></app-following>
      <app-followers *ngIf="activeCard == 'Followers'"></app-followers>
    </div>
  </div>
</div>