<div class="post">
  <div class="post_photo">
    <img src="{{post_image_src}}" (click) = "goProfile()">
  </div>
  <div class="post_main">
    <div class="post_main_info">
      <span (click) = "goProfile()">{{post.postContributerFullName}}</span> . {{post.timePosted | amTimeAgo}}
    </div>
    <div class="post_main_content">
      <pre>{{post.postContent}}</pre>
    </div>
  </div>
  <div class="vote">
      <i class="fa fa-angle-up" [ngClass] = "{'active': post.up}" (click) = "upVote()"></i>
      {{post.numVotes}}
      <i class="fa fa-angle-down" [ngClass] = "{'active': post.down}" (click) = "downVote()"></i>
    </div>
</div>