@import '../../../global/style/_colors.scss';
.post{
    border: 1px solid $border-color;
    display: flex;
    justify-content: center;
    line-height: 22px;
    font-size: 16px;
    text-align: justify;

    .post_photo{
        padding: 10px;
        img{
            width: 48px;
            height: 48px;
            border-radius: 50%;
        } 
    }

    .post_main{
        flex-grow: 1;
        padding: 10px;

        .post_main_info{
            color: $post-text-color-secondary;
        }

        .post_main_info span{
            font-weight: bold;
            color: $post-text-color-primary;
            font-size: 18px;
        }

        .post_main_content{
            margin-top: 5px;
            color: $post-text-color-primary
        }   
    }

    .vote{
        margin:10px;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        display: flex;
        flex-direction: column;
        
        i{
            font-weight: bold;
        }
        
        .active{
            color: $primary-color-1
        }
    }

    
}

@media only screen and (max-width: 600px) {
    .post{
        border: solid #efefef;
        border-width: 1px 0;
        line-height: 20px;
        font-size: 14px;
        text-align: left;

        .post_main .post_main_info span{
            font-size:16px;
        }

        .vote{
            margin:5px;
            font-size: 17px;
            line-height: 22px;
        }
    }
}

