@import '/global/style/_fonts.scss';
@import '/global/style/_colors.scss';

body{
    margin: 0;
    @include main-font;
}

form input{
    padding: 15px;
    width: 100%;
    font-size: 16px;
    background: $input-background;
    margin: 0 0 15px;
    box-sizing: border-box;
    @include main-font;
}

.input-with-icon{
    text-align: left;
    position: relative;

    fa{
        position: absolute;
        left:0;
        top:8px;
        padding: 9px 8px;
        color: $input-color;
    }

    input{
        padding: 15px 15px 15px 30px;
    }
}
